* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}




.logo{
    width: 150px;
    display: block;
    margin: 8px auto;
}


main{
    width: 400px;
    background: #20c5db;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;

}

label {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 25px;
}


select, input {
    background: #ffff;
    border: 1px solid #6e6e6e;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    margin-top: 8px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #00000055;
    cursor: pointer;
}

button{
    background: #000000;
    border-radius: 6px;
    width: 100%;
    border: none;
    height: 50px;   
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0px 4px 4px #00000040;

}

button:hover{
    background: #868686;
    cursor: pointer;
}

button:active{
    transform: scale(0.98);
}

section{
    border: 1px solid #6e6e6e;
    border-radius: 20px;
    margin-top: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.arrow-img{
    margin:10px 0;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    gap: 4px;
}

.currency-img{
    width: 50px;
    height: 50px;
}


.currency{
    font-weight: 400;
    font-size: 18px;
    color: #000000;

}

.currency-value, .currency-value-to-convert{
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}